doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src = 'javascripts/script.js')
    
    
  body

    .container
      .header
        button(onclick = 'cf()' ) Codeforces 
        button(onclick = 'cc()') Codechef
        button(onclick = 'lc()') Leetcode 
        button(onclick = 'ac()') Atcoder
        button(onclick = 'he()') HackerEarth 
        button(onclick = 'ks()') KickStart


    
  
        
    
    .force
      h1 Codeforces
      table
        tr
          th Contest Name
          th Status
          th Start-Date 
          th Duration
        -var len = 0;
        -if(Codeforces != 'undefined')
          -var len = Codeforces.length;
            
          

          -for(var i=0;i<len;i++){
          tr
            td
              - var url = Codeforces[i].url;
              a(href = url) #{Codeforces[i].name}
            td #{Codeforces[i].status}
            - let dt=new Date(Codeforces[i].start_time);
            td #{dt.toLocaleString('en-AU')} 
            td #{time_convert(Codeforces[i].duration)}
          -}
      



    
    .chef
      h1 CodeChef
      table
        tr
          th Contest Name
          th Status
          th Start-Date 
          th Duration
        
        -if(Codechef !== 'undefined')
          -var len = Codechef.length;
        -for(var i=0;i<len;i++){
        tr
          td 
            - var url = Codechef[i].url;
            a(href = url) #{Codechef[i].name}
          td #{Codechef[i].status}
          - let dt=new Date(Codechef[i].start_time);
          td #{dt.toLocaleString('en-AU')} 
          td #{time_convert(Codechef[i].duration)}
        -}

    .code
      h1 LeetCode
      table
        tr
          th Contest Name
          th Status
          th Start-Date 
          th Duration
        -var len=0;
        -if(Leetcode !== 'undefined')
          -var len = Leetcode.length;

        -for(var i=0;i<len;i++){
        tr
          td
            - var url = Leetcode[i].url;
            a(href = url) #{Leetcode[i].name}
          td #{Leetcode[i].status}
          - let dt=new Date(Leetcode[i].start_time);
          td #{dt.toLocaleString('en-AU')} 
          td #{time_convert(Leetcode[i].duration)}
        -}
    -var len = 0;

    
    .coder
      h1 AtCoder
      table
        tr
          th Contest Name
          th Status
          th Start-Date 
          th Duration
        -var len=0;
        -if(Atcoder !== 'undefined')
          -var len = Atcoder.length;

        -for(var i=0;i<len;i++){
        tr
          td
            - var url = Atcoder[i].url;
            a(href = url) #{Atcoder[i].name}
          td #{Atcoder[i].status}
          - let dt=new Date(Atcoder[i].start_time);
          td #{dt.toLocaleString('en-AU')} 
          td #{time_convert(Atcoder[i].duration)}
        -}

    
    .earth
      h1 HackerEarth
      table
        tr
          th Contest Name
          th Status
          th Start-Date 
          th Duration
        -var len=0;
        -if(Hackerearth !== 'undefined')
        -var len = Hackerearth.length;

        -for(var i=0;i<len;i++){
        tr
          td
            - var url = Hackerearth[i].url;
            a(href = url) #{Hackerearth[i].name}
          td #{Hackerearth[i].status}
          - let dt=new Date(Hackerearth[i].start_time);
          td #{dt.toLocaleString('en-AU')} 
          td #{time_convert(Hackerearth[i].duration)}
        -}
  
   
    .start
      h1 KickStart
      table
        tr
          th Contest Name
          th Status
          th Start-Date 
          th Duration

        -var len=0;
        -if(Kickstart !== 'undefined')
          -var len = Kickstart.length;

        -for(var i=0;i<len;i++){
        tr
          td
            - var url = Kickstart[i].url;
            a(href = url) #{Kickstart[i].name}
          td #{Kickstart[i].status}
          - let dt=new Date(Kickstart[i].start_time);
          td #{dt.toLocaleString('en-AU')} 
          td #{time_convert(Kickstart[i].duration)}
        -}


     


    -function cf(){
      -var x=document.getElementByClassName('force')[0];
      -x.style.display='None';
    -}




    -function time_convert(time){
    - time = time/60;
    - var year = Math.floor(time / 525600);
    - time = time % 525600;
    -var days = Math.floor(time/1440);

    -time = time%1440;

    -var hour = Math.floor(time/60);
    -var minute = time % 60;

    -if(hour <10)
      -hour = '0' + hour;

    -if(minute < 10)
      -minute = '0' + minute;

    -if(days<10)
      - days = '0' + days;



    -var ret = "";

    -if(year >=1){
      -ret = "" + year + " : ";
      -if(days==0)
        -ret+= "00 : ";
    -}

    -if(days>=1)
      -ret += "" + days + " : ";

    -ret += hour + " : " + minute;


    -return ret;
    -}


  
     

    
    
    
    
    